@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

body {
    font-family: 'Inter', sans-serif;
    background-color: #FAFAFA;
    color: #333333;
}

/* Amikom Brand Colors */
.text-amikom-purple { color: #431E6D; }
.bg-amikom-purple { background-color: #431E6D; }
.bg-amikom-purple-light { background-color: #F3E8FF; }
.border-amikom-purple { border-color: #431E6D; }

.bg-amikom-gold { background-color: #E28800; }
.bg-amikom-green { background-color: #0E7452; }

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
    background: #c1c1c1; 
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
    background: #a8a8a8; 
}
